<!DOCTYPE html>
<html>
<head>
  <title>Topological inventory</title>
  <%= stylesheet_link_tag    "topological_inventory/application", media: "all" %>
  <%= javascript_include_tag "topological_inventory/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
